{% extends 'project/base.html' %}
{% block title %}Delete Profile{% endblock %}
{% block content %}

<div class="container mt-4">
    <h2>Delete Profile</h2>

    <p>Are you sure you want to delete your profile? This action cannot be undone.</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a href="{% url 'project:profile_detail' pk=object.pk %}" class="btn btn-secondary">Cancel</a>  <!-- Changed URL -->
    </form>
</div>

{% endblock %}