<!-- project/templates/project/user_detail.html -->
{% extends 'project/base.html' %}

{% block title %}{{ user_profile.username }}'s Profile{% endblock %}

{% block content %}
    <h2>{{ user_profile.username }}'s Profile</h2>
    <p><strong>Email:</strong> {{ user_profile.email }}</p>
    <p><strong>Birth Date:</strong> {{ user_profile.birth_date }}</p>
    <p><strong>Bio:</strong> {{ user_profile.bio }}</p>

    <h3>Preferred Genres:</h3>
    <ul>
        {% for user_genre in preferred_genres %}
            <li>{{ user_genre.genre.name }}</li>
        {% empty %}
            <li>No preferred genres.</li>
        {% endfor %}
    </ul>

    <h3>Favorite Songs:</h3>
    <ul>
        {% for user_song in favorite_songs %}
            <li>
                <a href="{% url 'project:song_detail' pk=user_song.song.id %}">
                    {{ user_song.song.title }} by {{ user_song.song.artist }}
                </a>
            </li>
        {% empty %}
            <li>No favorite songs.</li>
        {% endfor %}
    </ul>

{% endblock %}
