{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATN Connect</title>
    <link rel="stylesheet" href="{% static 'styles-mini-fb.css' %}">
</head>
<body>
    <header>
        <h1>ATN Connect</h1>
        <div class="auth-status">
            {% if user.is_authenticated %}
                <p>Currently logged in as: {{ user.username }}
                    <form method="post" action="{% url 'logout' %}" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                </p>
            {% else %}
                <p>Not currently logged in 
                    <a href="{% url 'login' %}" class="login-link">Login</a>
                </p>
            {% endif %}
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>
                {% if user.is_authenticated %}
                    {% if user.profile %}
                        <li><a href="{% url 'show_profile' user.profile.pk %}">My Profile</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'create_profile' %}">Create Profile</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <p>&copy; 2024 ATN Connect</p>
    </footer>
</body>
</html>