<!-- mini_fb/templates/mini_fb/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATN Connect</title>
    <link rel="stylesheet" href="{% static 'styles-mini-fb.css' %}">
</head>
<body>
    <header>
        <h1>ATN Connect</h1>
    </header>
    <div class="content">
        {% block content %}
        <!-- Content from child templates will be injected here -->
        {% endblock content %}
    </div>
    <footer>
        <p>&copy; 2024 ATN Connect</p>
    </footer>
</body>
</html>
